* {
    scroll-behavior: smooth;
}

.title-portfolio {
    margin: 15px 0;
}

.image-portfolio {
    border-radius: 50%;
    margin: auto;
    width: 300px;
    height: 300px;
    box-shadow: 6px -6px 20px 0px #0000005e;
    -o-object-fit: cover;
       object-fit: cover;
    filter: blur(0.5px);
}

.image-portfolio-job {
    border-radius: 10px;
    margin: auto;
    width: 150px;
    height: 150px;
    box-shadow: 6px -6px 20px 0px #0000005e;
    -o-object-fit: cover;
       object-fit: cover;
}

.container-text-portfolio {
    padding: 15px;
    margin: auto auto auto 30px;
}

.container-text-job {
    padding: 5px;
    margin: auto auto auto 0px;
}

.container-text-hero {
    width: 600px;
    margin: auto;
}

.hero {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-admin {
    color: white;
}

.btn-admin:hover {
    color: rgb(172, 172, 172);
}

.button-contact {
    transition: 0.5s;
}

.button-contact:hover {
    color: #ffffff;
    background-color: #414850;
}
